<% include ./partials/header %> 

<div class="row">
    <div class="col-md-offset-3 col-md-6">    
        <div class ="login-form">
        <h1>Login!</h1>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Login!">
        </form>
    </div>
</div>

<% include ./partials/footer %> 
