<% include ./partials/header %> 

<div class="row">
    <div class="col-md-offset-3 col-md-6">    
        <div class ="login-form">
            <h1>Sign Up!</h1>
            <form action="/register" method="post">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <button>Sign Up</button>
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer %> 