#delete-form {
    display: inline;
}
body{
    background: url("/img/road-in-scotland.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

/*Style Jumbotron*/
.jumbotron{
    background-color: transparent;
    text-align: center;
    letter-spacing: 2.5px;
    padding: 10px;
}

.trip-info{
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    height: 100px;
}

.trip-caption{
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    height: 300px;
    margin-bottom: 30px;
}

.login-form{
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    padding: 10px;
    height: 150px;
}