<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= trip.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/trips/<%= trip._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="trip[name]" value="<%= trip.name %>" placeholder="trip name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="trip[departure]" value="<%= trip.departure %>" placeholder="departure">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="trip[destination]" value="<%= trip.destination %>" placeholder="destination">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="trip[tripDate]" value="<%= trip.tripDate %>" placeholder="tripDate">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="trip[price]" value="<%= trip.price %>" placeholder="price">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="trip[description]" value="<%= trip.description %>" placeholder="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/trips">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>