<% include ../partials/header %>


<div class="container">
    <header class = "jumbotron">
        <div class="container">
            <h1>Plan Your Next Trip Now!</h1>
            <p>Save Money! Save the Environment!<br/>
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="/trips/new">Add New Trip</a>
            </p>
        </div>
    </header>
    
    <div class="row">
        <div class="col-lg-12">
            <h3 style="text-align: center;">You can save up to 3000$ a year using car sharing!</h3>
        </div>
    </div>
    
    <div class="row">
        <% trips.forEach(function(trip){ %>
            <div class="col-xs-offset-2 col-xs-4 trip-info">
                <p><strong>Trip Name : <%= trip.name %></strong></p>
                <p>Departure : <%= trip.departure %></p>
                <p>Destination : <%= trip.destination %></p>
            </div>
            <div class="col-xs-4 trip-info">
                <p>Price : $<%= trip.price %></p>
                <p><a href="/trips/<%= trip._id%>" class="btn btn-primary btn-sm">More Info</a></p>
            </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>