<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Create a New Trip</h1>
        <div style="width: 30%; margin:25px auto;">
            <form action="/trips" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="trip name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="departure" placeholder="departure">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="destination" placeholder="destination">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="tripDate" placeholder="tripDate">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="price" placeholder="price">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-default btn-block">Submit!</button>
                </div>
            </form>
                <a href="/trips">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>