<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">CarSharing</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="trip-caption">
                <h3><%= trip.name %></h4>
                <h4>Departure: <%= trip.departure %></h4>
                <h4>Destination: <%= trip.destination %></h4>
                <h4>Description:</h4>
                <p><%= trip.description %></p>
                <h4 class="text-right">price: $<%= trip.price %></h4>
                <p class="text-right">
                    <em>Submitted By <%= trip.author.username %></em>
                </p>
                 <% if(currentUser && trip.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/trips/<%= trip._id %>/edit">Edit</a>
                        <form id="delete-form" action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
            </div>
            <div class="well">
                <div class="text-right">
                <p>
                    <a class="btn btn-success" href="/trips/<%= trip._id %>/comments/new">Add New Comment</a>
                </p>
                <hr>
                <% trip.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="pull-left"><strong><%= comment.author.username %></strong></span>
                            <span class="pull-right"> 10 days ago</span>
                            <br>
                            <p class="pull-left">
                                <%= comment.text %> 
                            </p>
                             <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <form style="display: inline" class="pull-right" action="/trips/<%=trip._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">DELETE</button>
                                    <a href="/trips/<%=trip._id%>/comments/<%=comment._id%>/edit" class="btn btn-xs btn-info">EDIT</a>
                                </form>
                            <% } %> 
                        
                        </div>
                    </div>
                <% }) %>
                </div>
            </div>
        </div>  
    </div>
</div>
<% include ../partials/footer %>